body{
	margin: 0;
	margin-top: -20px;
	height: 100%;
	padding: 0;
	background: #5d6d7e;
	font-family: "Arial";
}

h1{
	color: #e8daef;
	padding: 20px;
	text-align: center;
}
.tituloPrincipal{
	background:  #1c2833 ;
}
.menuNavegacion{
	text-align: center;
}

.menuNavegacion ul{
	margin: 10px;
	padding: 10px;
}
.menuNavegacion li{
	display: inline;
}
.menuNavegacion a{
	color: #e8daef;
	margin: 20px;
	padding: 20px;
	text-decoration: none;
	background:  #1c2833 ;
}
.menuNavegacion li.activo a,
.menuNavegacion li:hover a{
	background:  #ba4a00 ;
}
.infoPersonal{
	color:  #f1c40f;
	text-align: center;
	margin: 20px;
	border: 10px solid #e8daef;
}
ul{
	list-style: none;
}
.ciculo{
	border-radius: 50%;
	border: 1px solid black;
}
.cuerpoEducacion h2{
	color:  #bdc3c7;
	font-family: Verdana;

}
.cuerpoEducacion p{
	color: white;
}